<config>
    <tabs> <!-- heading in the left-side navigation -->
        <iterableconfig translate="label" module="trackorderplaced">
            <label><![CDATA[<div>Iterable</div>]]></label>
            <class>iterable-section</class>
            <sort_order>101</sort_order>
            <!-- General is 100, from app/code/core/Mage/Core/etc/system.xml -->
        </iterableconfig>
    </tabs>
    <sections> <!-- each section defined here is a subcategory of a heading from tabs. EACH SECTION NEEDS AN ACL DEFINED IN CONFIG.XML -->
        <api_options translate="label" module="trackorderplaced">
            <label>API</label>
            <tab>iterableconfig</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <api_key_options translate="label">
                    <label>API Key</label>
                    <frontend_type>text</frontend_type>
                    <expanded>1</expanded>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <api_key>
                            <label>API Key</label>
                            <comment>Your unique API key. Can be found in your Iterable account <![CDATA[<a href="https://app.iterable.com/api/settings">here</a>]]>.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </api_key>
                    </fields>
                </api_key_options>
            </groups>
        </api_options>
        <transactional_email_options>
            <label>Transactional Emails</label>
            <tab>iterableconfig</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1001</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <campaigns translate="label">
                    <label>Campaigns</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <intercept translate="label">
                            <label>Transaction Emails to intercept into campaigns</label>
                            <frontend_model>trackorderplaced/adminhtml_system_config_form_field_campaigns</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Intercept these emails and initiate a campaign]]></comment>
                        </intercept>
                    </fields>
                </campaigns>
                <events translate="label">
                    <label>Events</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <intercept translate="label">
                            <label>Transaction Emails to intercept into events</label>
                            <frontend_model>trackorderplaced/adminhtml_system_config_form_field_events</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Intercept these emails and push tracking data]]></comment>
                        </intercept>
                    </fields>
                </events>
            </groups>
        </transactional_email_options>
        <advanced_options>
            <label>Advanced</label>
            <tab>iterableconfig</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1002</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <tracking_options translate="label">
                    <label>Event Tracking</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled_events>
                            <label>Events</label>
                            <comment>The types of events to push to Iterable</comment>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>iterable_trackorderplaced/trackingeventtypes</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled_events>
                    </fields>
                </tracking_options>
            </groups>
        </advanced_options>
    </sections>
</config>
